<h1>Tasks#index</h1>

<%= link_to('new task', new_task_path) %>

<ul>
<% @Tasks.each  do |task| %>
    <li><%= task.title %> - <%= task.details %></li>
    <p>Completed:<%= task.completed %> </p> 
    <%= link_to 'Edit' , edit_task_path(task) %>
    <%= link_to 'Delete', task_path(task) , method: :delete %>
    <%= link_to 'Details', task_path(task) , method: :get %>
    <%= link_to(
            check_box_tag(:task, :completed, task.completed),
                "tasks/#{task.id}/complete/#{!task.completed}")%>
<% end %>
<ul>